@page "/projeto/analiseProjeto"
@using CooperativaXZ
@using System.Net.Http
@using Newtonsoft.Json
@using System.Net.Http.Headers;
@inject NavigationManager navigation
@inject HttpClient Http

<div class="form-group d-flex justify-content-center">

    <div class="container">
        <br>
        <h1 class="display" style="text-align:center">Análise de Projeto</h1>
        <br>
        <EditForm Model="project" OnValidSubmit="@OnSubmit">


            <div class="col-md-6 offset-md-3">

            </div>
            <div class="col-md-6 offset-md-3" style="margin-top:25px;">
                <label for="text" style="text-align:center">Análise realizada</label>
                <InputText @bind-Value="@project.Analyze" class="form-control" id="exampleTextarea" rows="5" placeholder="Escreva o que acha sobre o Projeto!"></InputText>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <label style="text-align:center"> Valor da Proposta </label>
                    <InputText @bind-Value="@project.OfferValue" type="text" name="valor" class="form-control " placeholder="Digite o valor da Proposta" required=""> </InputText>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-info" style="position:absolute">Enviar</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code{

    private Project project { get; set; } = new Project();


    private async Task OnSubmit()
    {
        var myContent = JsonConvert.SerializeObject(project);

        var buffer = System.Text.Encoding.UTF8.GetBytes(myContent);
        var byteContent = new ByteArrayContent(buffer);

        byteContent.Headers.ContentType = new MediaTypeHeaderValue("application/json");

        var response = await Http.PostAsync("http://localhost:3000/project", byteContent);

        if (!response.IsSuccessStatusCode)
        {
            var res = response.RequestMessage.Content.ReadAsStringAsync();
        }

    }

}