@page "/avaliacao"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Avaliação de Colegas</h1>
    <br>
    <form> 

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Como foi o relacionamento com a equipe? </label>
                <div class="form-group">
                    <select class="custom-select">
                        <option selected="">Selecione</option>
                        <option value="Otímo">Otímo</option>
                        <option value="Bom">Bom</option>
                        <option value="Regular">Regular</option>
                        <option value="Ruim">Ruim</option>
                        <option value="Ruim">Não Houve</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > O que achou da organização? </label>
                <div class="form-group">
                    <select class="custom-select">
                        <option selected="">Selecione</option>
                        <option value="Otímo">Otímo</option>
                        <option value="Bom">Bom</option>
                        <option value="Regular">Regular</option>
                        <option value="Ruim">Ruim</option>
                        <option value="Ruim">Não Houve</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Como foi a Liderança?  </label>
                <div class="form-group">
                    <select class="custom-select">
                        <option selected="">Selecione</option>
                        <option value="Otímo">Otímo</option>
                        <option value="Bom">Bom</option>
                        <option value="Regular">Regular</option>
                        <option value="Ruim">Ruim</option>
                        <option value="Ruim">Não Houve</option>
                    </select>
                </div>
            </div>
        </div>    

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Era Pró ativo? </label>
                <div class="form-group">
                    <select class="custom-select">
                        <option selected="">Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Tinha Ética? </label>
                <div class="form-group">
                    <select class="custom-select">
                        <option selected="">Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Qual foi o desempenho? </label>
                <div class="form-group">
                    <select class="custom-select">
                        <option selected="">Selecione</option>
                        <option value="Otímo">Otímo</option>
                        <option value="Bom">Bom</option>
                        <option value="Regular">Regular</option>
                        <option value="Ruim">Ruim</option>
                        <option value="Ruim">Não Houve</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Funções Exercidas </label>
                <input type="text" name="funcoes" class="form-control " placeholder="Digite as funções exercidas." required="Favor preencher o campo E-mail">    
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-info">Enviar</button>
               
            </div>
        </div>
    </form> 
</div>
</div>