@page "/projeto/feedProjeto"

@using CooperativaXZ
@inject ProjectService projectService

<h1>Projetos</h1>


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Description</td>
                    <td>
                    <a href="projeto/verDatas" class="btn btn-info">Datas</a>
                    <a href="projeto/avaliacao" class="btn btn-info">Avaliação</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Project[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await projectService.GetProjectAsync();
    }
}
