@page "/projeto/Final"

<div class="jumbotron">
  <h1 class="display-3" style="text-align:center">PROJETO FINALIZADO!!!</h1>
  
  <hr class="my-4">
  <p class="lead" style="text-align:center">Os links de entrega já estão disponíveis.</p>
</div>