@page "/"

<div class="jumbotron">
  <h1 class="display-3" style="text-align:center">COOPERATIVA XZ</h1>
  
  <hr class="my-4">
  <p class="lead" style="text-align:center">UM POR TODOS, TODOS POR UM!!!</p>
</div>

 <div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h4><i class="oi oi-list-rich"></i> SOBRE NÓS</h4>
            <hr class="my-4">
            <p>Projeto realizado para nosso o TCC</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h4><i class="oi oi-list-rich"></i> COOPERATIVISMO</h4>
            <hr class="my-4">
             <p>Cooperativismo é um movimento econômico e social, entre pessoas, em que a cooperação baseia-se na participação dos associados, nas atividades econômicas com vistas a atingir o bem comum.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h4><i class="oi oi-list-rich"></i> CONTATO</h4>
            <hr class="my-4">
            <p>João - 41 98846-0112</p>
          </div>
        </div>

      </div>
    </div>
