@page "/"

<div class="jumbotron">
  <h1 class="display-3" style="text-align:center">COOPERATIVA XZ</h1>
  
  <hr class="my-4">
  <p class="lead">OI ANDRÉ</p>
</div>

 <div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h4><i class="oi oi-list-rich"></i> SOBRE NÓS</h4>
            <hr class="my-4">
            <p>Este é o nosso TCC</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h4><i class="oi oi-list-rich"></i> COOPERATIVISMO</h4>
            <hr class="my-4">
             <p>Esté o nosso TCC</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h4><i class="oi oi-list-rich"></i> CONTATO</h4>
            <hr class="my-4">
            <p>Esté o nosso TCC</p>
          </div>
        </div>

      </div>
    </div>
