<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CooperativaXZ</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro">
                <span class="oi oi-person" aria-hidden="true"></span> Cadastro
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cooperado">
                <span class="oi oi-person" aria-hidden="true"></span> Cooperado
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="empresa">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Empresa
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="projeto">
                <span class="oi oi-project" aria-hidden="true"></span> Projeto
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
