@page "/empresa"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Empresa</h1>
    <br>
    <form> 
<div class="NavMenuCssClass">
    <ul class="nav flex-column">
    <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastroEmpresa">
             <span class="oi oi-plus" aria-hidden="true" style="margin-right:10px;"> </span>  Cadastrar Empresa
            </NavLink>
    </div>
    </ul>
    </div>
    </form> 
</div>
</div>