@page "/analiseProjeto"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Análise de Projeto</h1>
    <br>
    <form> 
    <div class="col-md-6 offset-md-3">
    <div class="card border-secondary mb-3" style="max-width: 30rem;">
    <div class="card-header"style="text-align:center">Nome do Projeto</div>
    <div class="card-body">
    <p class="card-text">Descrição do projeto...</p>
    </div>
    </div>
    </div>

    <div class="col-md-6 offset-md-3">
      
    </div>
     <div class="col-md-6 offset-md-3" style="margin-top:25px;">
         <label for="text" style="text-align:center">Análise realizada</label>
      <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Escreva o que acha sobre o Projeto!"></textarea>
    </div>  
    <br>
    <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label style="text-align:center" > Valor da Proposta </label>
                <input type="text" name="valor" class="form-control " placeholder="Digite o valor da Proposta" required="" >    
            </div>
    </div>
    <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-outline-primary" style="position:absolute">Enviar</button>
            </div>
        </div>
    </form> 
</div>
</div>