@page "/cadastroProjeto"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Registrar Projeto</h1>
    <br>
    <form> 

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Nome do Projeto </label>
                <input type="text" name="projeto" class="form-control " placeholder="Nome do Projeto" required="" >    
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > Escopo </label>
                <input type="text" name="escopo" class="form-control " placeholder="Escopo" required="" >    
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > Empresa </label>
                <input type="text" name="empresa" class="form-control " placeholder="Empresa" required="" >    
            </div>
        </div>     

       <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > CNPJ </label>
                <input type="text" name="cnpj" class="form-control " placeholder="CNPJ" required="" >    
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > Responsável </label>
                <input type="text" name="resp" class="form-control " placeholder="Responsável" required="" >    
            </div>
        </div>

         <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > Valor da Proposta </label>
                <input type="text" name="valor" class="form-control " placeholder="Valor da Proposta" required="" >    
            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-outline-primary">Cadastrar</button>
               
            </div>
        </div>
    </form> 
</div>
</div>