@page "/comentProjeto"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Projeto</h1>
    <br>
    <form> 

    <div class="col-md-6 offset-md-3">
      <label for="text"style="text-align:center">Adicione seu comentário de projeto</label>
    </div>
    <div class="col-md-6 offset-md-3" style="margin-top:25px;">
      <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Digite aqui o Comentário do projeto"></textarea>
    </div>    
    <br>
    <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-info" style="position:absolute">Enviar</button>
            </div>
        </div>
    </form> 
</div>
</div>