@page "/ficha"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <div class="jumbotron">
  <h1 class="display-3" style="text-align:center">COOPERATIVA XZ</h1>
  <hr class="my-4">
  <p class="lead">Para efetuar o cadastro na cooperativa deve ser solicitado
         um e-mail, logo apos a verificação</p>
   <p class="lead" style="text-align:center">enviaremos um e-mail com a nossa ficha cadastral.</p>
    </div>
    <form> 
    <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > E-mail </label>
                <input type="text" name="email" class="form-control " placeholder="E-mail" required="" >    
            </div>
    </div>
    <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-info">Enviar</button>
               
            </div>
        </div>
    </form> 
</div>
</div>