@page "/financeiro"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Informações Financeiras</h1>
    <br>
    <form> 

        <div class="form-group"style="margin-top:25px;">
            <div class="col-md-6 offset-md-3">
                <label > Nome </label>
                <input type="text" name="name" class="form-control " placeholder="Nome" required="" >    
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Conta </label>  
                <input type="text" name="conta" class="form-control" placeholder="Conta" required="" >
            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > Banco </label>
                <input type="text" name="banco" class="form-control " placeholder="Baco" required="" >    
            </div>
        </div>   

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label > Agência </label>
                <input type="text" name="agencia" class="form-control " placeholder="Agência" required="" >    
            </div>
        </div>   

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-outline-primary">Enviar</button>
               
            </div>
        </div>
    </form> 
</div>
</div>