@page "/portfolio"

<div class="form-group d-flex justify-content-center">

<div class="container">
    <br>
    <h1 class="display"style="text-align:center">Portfolio</h1>
    <br>
    <form> 

    <div class="col-md-6 offset-md-3">
      <label for="exampleInputFile"style="text-align:center">Faça o Upload do seu Arquivo!</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <div class="col-md-6 offset-md-3" style="margin-top:25px;">
      <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Digite a descrição de seu Porfolio!"></textarea>
    </div>    
    <br>
    <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-info" style="position:absolute">Enviar</button>
            </div>
        </div>
    </form> 
</div>
</div>